* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.output
{
    width: 100%;
    height: 88vh;
    margin-top: 12vh;


    overflow: hidden;
    overflow-y: auto;

    padding-left: 15px;
    padding-right: 15px;
}

.section-content
{
    width: 100%;
    height: 100%;
    
}

.input-form
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.input-form input
{
    width: 100%;
    height: 35px;
    padding: 7.5px;
    margin-bottom: 15px;
}

.input-form button
{
    min-height: 35px;
    padding: 7.5px
}

.options
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 15px;
}
.options > span
{
    min-height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 7.5px;
    text-align: justify;
    position: absolute;
    left: 0;
}

.half-size
{
    width: 50%!important;
}