* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body, html
{
    width: 100vw;
    height: 100vh;
    margin: 0!important;
    padding: 0!important;
    text-align: justify;
    word-wrap: break-word;
    display: block;

    background-color: #fff;
    color: #121212;
    font-weight: 400;
    font-family: 'Lato', sans-serif;

    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 18.5px;
}

a, button, input
{
    outline: none;
    color: #121212;
    text-decoration: none;
    border-radius: 7.5px;
    transition: all 0.3s ease-in;
}

a, button
{
    font-weight: 400;
    overflow: hidden;
    font-size: 22px;
    cursor: pointer;
}
a:hover, button:hover
{
    color: lightblue;
}
a:focus, button:focus
{
    color: #49c500;
}
a > button
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

button[type="submit"] {
    
    background-color: rgba(73,197,0, 0.55);
}

input
{
    overflow: hidden;
    overflow-y: auto;
    background-color: rgba(232, 240, 254, 0.7);
}

h1
{
    margin:0!important;
    padding:0;
}

.weightBold
{
    font-weight: bold;
}